* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Xplor;
    font-size: 14;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Todos os elementos na tela */

.instagram_wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 145px;
    width: 60%;
    height: 100vh;
    padding-left: 0.3%;
    padding-bottom: 4%;
}

/* celular */

.instagram_phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-left: 290px;
    margin-bottom: 50px;
}

/* celular 2*/

.instagram_phone img{
    height: 39rem;
}

.instagram_phon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1%;
    margin-bottom: 100px;
}

.instagram_phon img{
    padding-left: 50rem;
    height: 43rem;
}

/* Todo grupo da direita */

.instagram_continue{
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: column;
    width: 35%;
    height: 50%;
    margin-bottom: 8px;
    
}

/* primeiro grupo da direita separado*/

.group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    width: 360px;
    height: 360px;
    padding: 1rem 0; 
    border: 1px solid lightgray;
    margin-top: 1rem;
    margin-right: 10%;
}

/* logo do instagram*/

.instagram_logo{
    height: 6rem;
}


/* Foto de perfil*/

.profile_photo{
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_photo img{
    height: 6rem;
    border-radius: 100%;
    position: relative;
}

/* Botão de Continue*/

.instagram_login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

/* Remover conta*/

.instagram_logout{
    color: #0095f6;
    margin-top: 1rem;
}

/* segundo grupo da direita */

.group:ntc(1){
    min-height: 19rem;
}

/* Não é o Lincoln? */

.not_account{
    color: rgb(160, 160, 160);
}

/* Cor dos links */

.link_blue{
    color: #0095f6;
}

/* Baixe o aplicativo */

.get_the_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0;
    margin-right: 10%;
}

/* ícones de download */

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app_download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app_download:nth-child(1){
    background-image: url('img/App\ Store.png');
}

.app_download:nth-child(2){
    background-image: url('img/Google\ play.png');
}

/* media queries */

@media screen and (max-width: 1636px){
    .instagram_wrapper{
        width: 75rem;
    }
}

@media screen and (max-width:1000px){
    .instagram_phon{
        display: none;
    }

    .instagram_phone{
        display: none;
    }

    .instagram_wrapper{
        padding-left: 30rem;
        width: 100%;
    }

    .get_the_app{
        width: 30rem;
    }

    .download{
        width: 30rem;
    }
}

@media screen and (max-width: 630px){
    .instagram_wrapper{
        padding-left: 55%;
    }

    .instagram_phon{
        display: none;
    }

    .instagram_phone{
        display: none;
    }
}

@media screen and (max-width: 720px){
    .instagram_wrapper{
        padding-left: 56%;
    }

    .instagram_phon{
        display: none;
    }

    .instagram_phone{
        display: none;
    }
}

@media screen and (max-width: 592px){
    .instagram_wrapper{
        padding-left: 60%;
    }

    .instagram_phon{
        display: none;
    }

    .instagram_phone{
        display: none;
    } 
}